* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label, input {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    height: 32px;
}

@font-face {
    font-family: "Bleeding_Cowboys";
    src:
      url("Bleeding_Cowboys.ttf") format("opentype");
}

h1 {
    font-family: "Bleeding_Cowboys", Helvetica, sans-serif;
    vertical-align: middle;
    font-size: 3em;
    color: white;
    letter-spacing: 4px;
    transition: text-shadow 0.5s;
}

p {
    font-size: 32px;
    margin-bottom: 32px;
    padding: 32px;
}

.form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 384px;
    width: 60%;
}

.side-bar {
    width: 40%;
    height: 100vh;
    background: url("img.jpg") no-repeat;
    background-position-x: -100px;
    background-size: cover;
}

body {
    display: flex;
    background-color: #f1f1f1;
}

label {
    align-self: center;
}

label[for="confirm-password"] {
    font-size: 16px;
}

.controls {
    background-color: white;
    width: 100%;
    padding: 32px;
    position: relative;
    box-shadow: 1px 2px 4px 2px black;
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
}

button {
    position: relative;
    align-self: flex-start;
    top: 32px;
    left: 48px;
    padding: 16px 32px;
    background-color: #10111d;
    color: white;
    cursor: pointer;
    transition: all 1s;
}

a {
    text-decoration: none;
    color: #1110d1;
}

.wrap {
    position: absolute;
    width: 300px;
    height: 120px;
}

img[src="western.png"] {
    transition: transform 1s;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.logo {
    margin-top: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 16px;
    width: 100%;
    gap: 32px;
    background-color: rgb(0 0 0 /30%)
}

p:last-child {
    position: relative;
    top: 80px;
    font-size: 18px;
    left: 16px;
    width: 400px;
}

h1:hover {
    text-shadow: 8px 16px 4px black;
}

img[src="western.png"]:hover {
    transform: rotateY(360deg)
}

.wrap:hover > button {
    transform: rotateX(360deg);
    background-color: grey;
}
/* form stuff */

input:hover {
    background-color: #eee;
}

input:focus {
    outline: 2px solid blue;
    border-radius: 10px;
}

input:invalid{
    border: 2px solid red;
}
